{% extends 'blog/base.html' %}
{% load humanize %}
{% load static %}
{% load subtract %}
{% load mentions %}
{% load crispy_forms_tags %}

{% block content %}

<div class="col-lg-6 col-md-6">

    {% if messages %}
    {% for msg in messages %}
    <div id="overlay" class="alert alert-{{ msg.tags }}  fade show" role="alert">
        <b id="msg-text">
            {% if msg.tags == 'error' %}
            <svg width="1.4rem" height="1.4rem" class="ml-3" viewBox="0 0 1792 1792"
                 xmlns="http://www.w3.org/2000/svg">
                <path fill="#dd4646"
                      d="M1277 1122q0-26-19-45l-181-181 181-181q19-19 19-45 0-27-19-46l-90-90q-19-19-46-19-26 0-45 19l-181 181-181-181q-19-19-45-19-27 0-46 19l-90 90q-19 19-19 46 0 26 19 45l181 181-181 181q-19 19-19 45 0 27 19 46l90 90q19 19 46 19 26 0 45-19l181-181 181 181q19 19 45 19 27 0 46-19l90-90q19-19 19-46zm387-226q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"/>
            </svg>
            {% endif %}
            {% if msg.tags == 'success' %}
            <svg width="1.4rem" height="1.4rem" class="ml-3" viewBox="0 0 1792 1792"
                 xmlns="http://www.w3.org/2000/svg">
                <path fill="#70bf2b"
                      d="M1412 734q0-28-18-46l-91-90q-19-19-45-19t-45 19l-408 407-226-226q-19-19-45-19t-45 19l-91 90q-18 18-18 46 0 27 18 45l362 362q19 19 45 19 27 0 46-19l543-543q18-18 18-45zm252 162q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"/>
            </svg>
            {% endif %}
            {% if msg.tags == 'info' %}
            <svg width="1.4rem" height="1.4rem" class="ml-3" viewBox="0 0 1792 1792"
                 xmlns="http://www.w3.org/2000/svg">
                <path fill="#efb80b"
                      d="M1024 1375v-190q0-14-9.5-23.5t-22.5-9.5h-192q-13 0-22.5 9.5t-9.5 23.5v190q0 14 9.5 23.5t22.5 9.5h192q13 0 22.5-9.5t9.5-23.5zm-2-374l18-459q0-12-10-19-13-11-24-11h-220q-11 0-24 11-10 7-10 21l17 457q0 10 10 16.5t24 6.5h185q14 0 23.5-6.5t10.5-16.5zm-14-934l768 1408q35 63-2 126-17 29-46.5 46t-63.5 17h-1536q-34 0-63.5-17t-46.5-46q-37-63-2-126l768-1408q17-31 47-49t65-18 65 18 47 49z"/>
            </svg>

            {% endif %}
            {{ msg|upper }}
        </b>

    </div>
    {% endfor %}
    {% endif %}

    <div class="box-element">
        <div class="media">
            <img class="rounded-circle article-img" src="{{ user.image.url }}" alt="">
            <div class="media-body mt-2">
                <form class="my-create-form my-2 mr-sm-2 my-lg-0" data-url="{% url 'create_post' %}"
                      method="POST"  enctype="multipart/form-data">
                    {% csrf_token %}
<!--                    {{form.content}}-->
                    {{form.as_p}}
                    {{form.media}}

                    <label for="upload-photo" class="mb-2 mt-1 d-flex">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                         fill="currentColor" class="bi bi-image" viewBox="0 0 16 16">
                          <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                          <path d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1h12z"/>
                        </svg>
                    </label>
                    <input type="file" multiple name="photo" id="upload-photo"/>
                    <style>
                        label {
                           cursor: pointer;
                           margin-left: 5px;
                           /* Style as you please, it will become the visible UI component. */
                        }

                        #upload-photo {
                           opacity: 0;
                           position: absolute;
                           z-index: -1;
                        }

                    </style>

                    <button onclick="sendMessage()" class="btn btn-info create-submit_button float-right my-sm-0" type="submit">POST</button>

                    <style>
                        label{display: none}

                    </style>
                </form>
                <br>
            </div>
        </div>
    </div>
    <br>

    <div class="row" id="feeds"></div>


    {% if blog_post|length > 0 %}
    {% for post in blog_post %}

    <div class="box-element mb-3" >
        <div class="content-section">
            {% if post.text %}
            <style>
                .reposted{margin-left:4.5rem;}
                @media only screen and (max-width: 1000px) {
                    .reposted{margin-left:4.3rem;}
                }
            </style>

            <div class="media">
                <a class="text-dark" href="{% url 'a_follower_post_view' post.user %}">
                    <img class="rounded-circle article-img" src="{{ post.user.image.url }}" alt="">
                </a>
                <div class="media-body">
                    <a class="text-dark" href="{% url 'a_follower_post_view' post.user %}">
                        <strong class="account-heading dropbtn" style="width: 50px;height:50px">
                            {% if post.user.display_name %}
                            {{ post.user.display_name }}
                            {% else %}
                            {{ post.user }}
                            {% endif %}
                            {% if post.user.is_verified %}
                            <img width="15px" height="15px"
                                 src="{% static 'images/verify.png' %}" alt="">
                            {% endif %}
                            &bull; {{ post.date_posted|date:"M d y" }}
                        </strong>
                        <p class="text-secondary mb-1">@{{ post.user }}</p>
                    </a>
                    <a href="{{post.get_repost_absolute_url}}">
                        {% if post.text %}
                        <h6>{{ post.text|safe|truncatewords:'70'|mentions|hashtags }}</h6>
                        {% endif %}
                    </a>
                    {% if post.post %}
                    <div style="border: 1px solid #adb5bd; border-radius: 13px; padding: 9px;">
                        <a class="text-dark" href="{% url 'a_follower_post_view' post.post.author %}">
                            <div class="media">
                                <img class="rounded-circle" style="width: 30px;height:30px"
                                     src="{{ post.post.author.image.url }}" alt="">
                                <div class="media-body ml-1">
                                    <strong class="account-heading dropbtn">
                                        {% if post.post.author.display_name %}
                                        {{ post.post.author.display_name }}
                                        {% else %}
                                        {{ post.post.author }}
                                        {% endif %}
                                        {% if post.post.author.is_verified %}
                                        <img width="15px" height="15px"
                                             src="{% static 'images/verify.png' %}" alt="">
                                        {% endif %}
                                        &bull; {{ post.post.date_posted|date:"M d y" }}
                                    </strong>
                                </div>
                            </div>
                        </a>
                        <a class="text-decoration-none text-secondary article-content mt-1"
                           href="{{ post.post.get_absolute_url }}">
                            <h6 class="mb-1">{{ post.post.content|mentions|safe|truncatewords:'20' }}</h6>
                        </a>
                    </div>
                    {% elif post.repost %}
                    <div style="border: 1px solid #adb5bd; border-radius: 13px; padding: 9px;">
                        <a class="text-dark" href="{% url 'a_follower_post_view' post.repost.user %}">
                            <div class="media">
                                <img class="rounded-circle" style="width: 30px;height:30px"
                                     src="{{ post.repost.user.image.url }}" alt="">
                                <div class="media-body ml-1">
                                    <strong class="account-heading dropbtn">
                                        {% if post.repost.user.display_name %}
                                        {{ post.repost.user.display_name }}
                                        {% else %}
                                        {{ post.repost.user }}
                                        {% endif %}

                                        {% if post.repost.user.is_verified %}
                                        <img width="15px" height="15px"
                                             src="{% static 'images/verify.png' %}" alt="">
                                        {% endif %}
                                        &bull; {{ post.repost.date_posted|date:"M d y" }}
                                    </strong>
                                </div>
                            </div>
                        </a>
                        <a class="text-decoration-none text-secondary article-content mt-1"
                           href="{{ post.repost.get_repost_absolute_url }}">
                            <h6 class="mb-1">{{ post.repost.text|mentions|hashtags|safe|truncatewords:'20' }}</h6>
                        </a>
                    </div>
                    {% else %}
                    <div class="text-dark"
                         style="border: 1px solid #adb5bd; border-radius: 13px; padding: 9px; background: #dee2e6;">
                        Author of this post deleted this post. It can't be seen.
                    </div>
                    {% endif %}
                    <div class="mt-1">
                        <div class="row">
                            <div class="col-lg-4 col-4">
                                <b>{{ post.like.count|intword }} </b>
                                <img src="{% static 'images/like (2).png' %}" data-toggle="tooltip" data-placement="top"
                                 title="Like"
                                 class="mb-1" style="cursor:pointer;" width="23" height="23" alt="">
                            </div>
                            <div class="col-lg-4 col-4">
                                <b>{{ post.repostcomment_set.count|intword }} </b>
                                <img data-toggle="tooltip" data-placement="top" title="Comment"
                                 src="{% static 'images/comment (2).png' %}" class="mb-" width="23" height="23" alt="">
                            </div>
                            <div class="col-lg-4 col-4">
                                <a class="text-dark" href="{{post.get_repost_url_}}">
                                    <b data-target="#postReposModal" data-toggle="modal">
                                        {{ post.blogrepost_set.count|intword }}
                                    </b>
                                    <img data-toggle="tooltip" data-placement="top" title="Repost"
                                         src="{% static 'images/retweet (1).png' %}" class="mb-" width="23" height="23" alt="">
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            {% elif not post.text %}
            {% if post.author in request.user.following.all %}

            {% elif post.post %}
            <b class="text-secondary reposted mb-1" style="font-size: 12.5px;">
                {% if post.user.display_name %}
                {{ post.user.display_name }}
                {% else %}
                {{ post.user }}
                {% endif %}
                reposted
            </b>
            {% elif post.repost %}
            <b class="text-secondary reposted mb-1" style="font-size: 12.5px;">
                {% if post.user.display_name %}
                {{ post.user.display_name }}
                {% else %}
                {{ post.user }}
                {% endif %} reposted
            </b>

            {% elif post.author == request.user %}
            {% elif post.post.author == request.user %}
            {% elif not post.author in request.user.following.all %}
            <b class="text-secondary reposted mb-1" style="font-size: 12.5px;">
                Based on your followers {{ post.like.username }} like
            </b>
            {% elif not post.post.author in request.user.following.all %}
            <b class="text-secondary reposted mb-1" style="font-size: 12.5px;">
                Based on your followers{{ post.post.like.username }} like
            </b>

            {% endif %}
            <div class="media">
                {% if post.author %}
                <a href="{% url 'a_follower_post_view' post.author %}">
                    <img class="rounded-circle article-img" src="{{ post.author.image.url }}" alt="">
                </a>

                {% elif post.repost %}
                <a href="{% url 'a_follower_post_view' post.repost.user %}">
                    <img class="rounded-circle article-img" src="{{ post.repost.user.image.url }}" alt="">
                </a>
                {% elif post.post %}
                <a href="{% url 'a_follower_post_view' post.post.author %}">
                    <img class="rounded-circle article-img" src="{{ post.post.author.image.url }}" alt="">
                </a>
                {% endif %}
                <div class="media-body">
                    {% if post.author %}
                    <a class="text-dark" href="{% url 'a_follower_post_view' post.author %}">
                        <strong class="account-heading dropbtn">
                            {% if post.author.display_name %}
                            {{ post.author.display_name }}
                            {% else %}
                            {{ post.author }}
                            {% endif %}

                            {% if post.author.is_verified %}
                            <img width="15px" height="15px"
                                 src="{% static 'images/verify.png' %}" alt="">
                            {% endif %}
                            &bull; {{ post.date_posted|date:"M d y" }}
                        </strong>
                    </a>

                    {% elif post.repost.user %}
                    <a class="text-dark" href="{% url 'a_follower_post_view' post.repost.user %}">
                        <strong class="account-heading dropbtn">
                            {% if post.repost.user.display_name %}
                            {{ post.repost.user.display_name }}
                            {% else %}
                            {{ post.repost.user }}
                            {% endif %}
                            {% if post.repost.user.is_verified %}
                            <img width="15px" height="15px"
                                 src="{% static 'images/verify.png' %}" alt="">
                            {% endif %}
                            &bull; {{ post.date_posted|date:"M d y" }}
                        </strong>
                    </a>
                    {% elif post.post %}
                    <a class="text-dark" href="{% url 'a_follower_post_view' post.post.author %}">
                        <strong class="account-heading dropbtn">
                            {% if post.post.author.display_name %}
                            {{ post.post.author.display_name }}
                            {% else %}
                            {{ post.post.author }}
                            {% endif %}
                            {% if post.post.author.is_verified %}
                            <img width="15px" height="15px"
                                 src="{% static 'images/verify.png' %}" alt="">
                            {% endif %}
                            &bull; {{ post.post.date_posted|date:"M d y" }}
                        </strong>
                    </a>
                    {% endif %}

                    {% if post.author %}
                    <p class="text-secondary mb-1">@{{ post.author }}</p>
                    {% elif post.repost.user %}
                    <p class="text-secondary mb-1">@{{ post.repost.user }}</p>
                    {% elif post.post %}
                    <p class="text-secondary mb-1">@{{ post.post.author }}</p>
                    {% endif %}
                    {% if post.author %}
                    <style>
                        .text-code{
                            max-width: 100%;
                            display: flex;
                            flex-wrap: nowrap;
                            -ms-overflow-style: flex;
                            scrollbar-width: flex;
                            overflow-x: auto;
                            scroll-behaviour: smooth;
                        }
                        .text-code::-webkit-scrollbar{display: flex;}
                    </style>
                    <a class="text-decoration-none text-dark text-code" href="{{ post.get_absolute_url }}"
                       style="overflow-x: auto">
                        <h6 class="mb-1">{{ post.content|safe|mentions|hashtags }}</h6>
                        <div class="row p-2 br-2">
                            {% for image in post.blogimages_set.all %}
                            <div class="col-6 p-1">
                                <img width="100%" height="100%" src="{{image.image.url}}" alt="">
                            </div>
                            {% endfor %}
                        </div>
                    </a>
                    {% elif post.repost %}
                    <a class="text-decoration-none article-content text-code text-dark" href="{{ post.repost.get_repost_absolute_url }}">
                        <h6>{{ post.repost.text|safe|mentions|hashtags }}</h6>
                        <div class="row p-2 br-2">
                            {% for image in post.blogimages_set.all %}
                            <div class="col-6 p-1">
                                <img width="100%" height="100%" src="{{image.image.url}}" alt="">
                            </div>
                            {% endfor %}
                        </div>
                    </a>
                    {% elif post.post %}
                    <a class="text-decoration-none article-content text-code text-dark" href="{{ post.post.get_absolute_url }}">
                        <h6>{{ post.post.content|safe|mentions|hashtags }}</h6>
                    </a>
                    {% endif %}

                    {% if post.author %}
                    <div id="like_result">
                        <div class="row">
                            <div class="col-lg-4 col-4">
                                <b>{{ post.like.count|intword }} </b>
                                <a data-href='{{post.get_api_like_url}}' class="like-btn" data-toggle="tooltip"
                                   data-placement="top" title="Like">
                                    <img src="{% static 'images/like (2).png' %}"
                                         class="mb-2" style="cursor:pointer;" width="23" height="23" alt="">
                                </a>
                            </div>
                            <div class="col-lg-4 col-4">
                                <b>{{ post.blogcomment_set.count|intword }} </b>
                                <img onclick="openForm()" data-toggle="tooltip" data-placement="top" title="Comment"
                                src="{% static 'images/comment (2).png' %}" class="mb-" width="23" height="23" alt="">
                            </div>
                            <div class="col-lg-4 col-4">
                                <a class="text-dark" href="{{post.get_repost_url}}">
                                    <b data-target="#postReposModal" data-toggle="modal">
                                        {{ post.blogrepost_set.count|intword }}
                                    </b>
                                    <img data-toggle="tooltip" data-placement="top" title="Repost"
                                         src="{% static 'images/retweet (1).png' %}" class="mb-1" width="23" height="23" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    {% elif post.repost %}
                    <div class="row">
                        <div class="col-lg-4 col-4">
                            <b>{{ post.repost.like.count|intword }} </b>
                            <a data-href='{{postv.get_api_like_url}}' class="like-btn" data-toggle="tooltip"
                               data-placement="top" title="Like">
                                <img src="{% static 'images/like (2).png' %}"
                                     class="mb-2" style="cursor:pointer;" width="23" height="23" alt="">
                            </a>
                        </div>
                        <div class="col-lg-4 col-4">
                            <b>{{ post.repost.repostcomment_set.count|intword }} </b>
                            <img onclick="openForm()" data-toggle="tooltip" data-placement="top" title="Comment"
                            src="{% static 'images/comment (2).png' %}" class="mb-" width="23" height="23" alt="">
                        </div>
                        <div class="col-lg-4 col-4">
                            <a class="text-dark" href="{{post.repost.get_repost_url_}}">
                                <b data-target="#postReposModal" data-toggle="modal">
                                    {{ post.repost.blogrepost_set.count|intword }}
                                </b>
                                <img data-toggle="tooltip" data-placement="top" title="Repost"
                                     src="{% static 'images/retweet (1).png' %}" class="mb-1" width="23" height="23" alt="">
                            </a>
                        </div>
                    </div>
                    {% elif post.post %}
                    <div class="row">
                        <div class="col-lg-4 col-4">
                            <b>{{ post.post.like.count|intword }} </b>
                            <img data-toggle="tooltip" data-placement="top" title="Like" src="{% static 'images/like (2).png' %}"
                                class="mb-2" style="cursor:pointer;" width="23" height="23" alt="">
                        </div>
                        <div class="col-lg-4 col-4">
                            <b>{{ post.post.blogcomment_set.count|intword }} </b>
                            <img src="{% static 'images/comment (2).png' %}"
                                 data-toggle="tooltip" data-placement="top" title="Comment"
                                 class="mb-" width="23" height="23" alt="">
                        </div>
                        <div class="col-lg-4 col-4">
                            <a class="text-dark" href="{{post.post.get_repost_url}}">
                                <b data-target="#postReposModal" data-toggle="modal">
                                    {{ post.post.blogrepost_set.count|intword }}
                                </b>
                                <img data-toggle="tooltip" data-placement="top" title="Repost"
                                     src="{% static 'images/retweet (1).png' %}" class="mb-1" width="23" height="23" alt="">
                            </a>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="container" id="product" align="center" style="opacity: 0.7" fill="#000">
        <img class="img-fluid" src="{% static 'images/product-icon-png-19.jpg' %}" style="opacity: 0.8" alt="">
        <h3 class="font-weight-strong">No post here because you follow no one and you have not created a post.</h3><br>
    </div>
    {% endif %}
</div>

<div class="col-lg-3 col-md-3">
    <div class="sticky-top" style="top: 90px">
        <div class="box-element">
            <form action="{% url 'search' %}" autocomplete="on" method="GET" value="{{request.GET.q}}">
                 <div class="dropdown_search ">
                     <input type="text" name="q" value="{{request.GET.q}}" class="form-control"
                           placeholder="Search Elodimuor"/>
                    <div class="autocomplete" style="width:300px; display:none;">
                        <input type="submit" name="submit" value="Search"/>
                    </div>
                </div>
            </form>
        </div>
        <br>
        <div class="box-element">
            <h4 class="mb-3"><strong>Trends</strong></h4>
        </div>
        <br>
        <div class="box-element">
            <h4 class="mb-3"><strong>Who to follow</strong></h4>
            {% for list in user_list %}
            <div class="media mt-2">
                <div class="dropdown">
                    <a href="{% url 'a_follower_post_view' list %}">
                        <img class="rounded-circle" style="width:50px;height:50px" src="{{ list.image.url }}"
                             alt="">
                    </a>
                    <div style="float:left;"
                         class="dropdown-content flex animated--grow-in dropdown-menu fade_ dropdown-menu-right">
                        <div class="row">
                            <div class="col-3">
                                <a href="{% url 'a_follower_post_view' list %}">
                                    <img src="{{ list.image.url }}" alt="Avatar"
                                         class="rounded-circle account-img">
                                </a>
                            </div>
                            <div class="float-right col-9 g-3">
                                {% if request.user == list %}
                                <a class="float-right btn btn-md btn-outline-info"
                                   href="{% url 'a_follower_post_view' list %}">Edit
                                    profile
                                </a>
                                {% elif list in request.user.following.all %}
                                <a data-href="{% url 'follower-api' list %}"
                                   class="btn btn-info follow-btn btn-md text-light btn-md float-right">Following
                                </a>
                                {% elif request.user in list.following.all %}
                                <a data-href="{% url 'follower-api' list %}"
                                   class="btn btn-outline-info follow-btn btn-md float-right">Follow back
                                </a>
                                {% else %}
                                <a data-href="{% url 'follower-api' list %}"
                                   class="btn btn-outline-info follow-btn btn-md float-right"
                                   id="follow-buttonn">Follow
                                </a>
                                {% endif %}
                            </div>
                        </div>
                        <style>
                            .author_img {
                                border-radius: 10px;
                                display: block;
                                margin-left: 10px;
                                width: 50px;
                            }
                        </style>

                        <strong class="flex mt-2">
                            {% if list.display_name %}
                            {{ list.display_name }}
                            {% else %}
                            {{ list }}
                            {% endif %}
                            {% if list.is_verified %}
                            <img width="15px" height="15px"
                                 src="{% static 'images/verify.png' %}" alt="">
                            {% endif %}
                        </strong>
                        <h6>
                            @{{ list.username }}

                        </h6>
                        <p>{{ list.post_set.count|intword }} posts added</p>
                        {% if list.about %}
                        <p>{{ list.about|safe|truncatewords:15 }}</p>
                        {% endif %}
                        <hr>
                        <b>{{ list.follower.count|intword }}</b> Followers &bull; <b>
                        {{ list.following.count|intword}}</b> Following
                    </div>
                </div>
                <div class="media-body">
                    <div class="dropdown">
                        <a href="{% url 'a_follower_post_view' list %}" class="text-decoration-none text-dark">
                            <strong class="account-heading ml-2 text-truncate">
                                {% if list.display_name %}
                                {{ list.display_name|truncatechars:10 }}
                                {% else %}
                                {{ list }}
                                {% endif %}
                                {% if list.is_verified %}
                                <img width="15px" height="15px"
                                     src="{% static 'images/verify.png' %}" alt="">
                                {% endif %}
                            </strong>
                        </a>
                        <div style="float:left;"
                             class="dropdown-content flex animated--grow-in dropdown-menu fade_ dropdown-menu-right">
                            <div class="row">
                                <div class="col-3">
                                    <a href="{% url 'a_follower_post_view' list %}">
                                        <img src="{{ list.image.url }}" alt="Avatar"
                                             class="rounded-circle account-img">
                                    </a>
                                </div>
                                <div class="float-right col-9 g-3">
                                    {% if request.user == list %}
                                    <a class="float-right btn btn-outline-info"
                                       href="{% url 'a_follower_post_view' list %}">Edit
                                        profile
                                    </a>
                                    {% elif list in request.user.following.all %}
                                    <a data-href="{% url 'follower-api' list %}"
                                       class="btn btn-info follow-btn text-light btn-md float-right">Following
                                    </a>
                                    {% elif request.user in list.following.all %}
                                    <a data-href="{% url 'follower-api' list %}"
                                       class="btn btn-outline-info follow-btn btn-md float-right">Follow back
                                    </a>
                                    {% else %}
                                    <a data-href="{% url 'follower-api' list %}"
                                       class="btn btn-outline-info follow-btn btn-md float-right">Follow
                                    </a>
                                    {% endif %}
                                </div>
                            </div>
                            <style>
                            .author_img {
                                border-radius: 10px;
                                display: block;
                                margin-left: 10px;
                                width: 50px;
                            }
                            </style>
                             <strong class="flex mt-2">
                                {% if list.display_name %}
                                {{ list.display_name }}
                                {% else %}
                                {{ list }}
                                {% endif %}
                                {% if list.is_verified %}
                                <img width="15px" height="15px"
                                     src="{% static 'images/verify.png' %}" alt="">
                                {% endif %}
                            </strong>
                            <h6>
                                @{{ list.username }}

                            </h6>

                            <p>{{ list.post_set.count|intword }} posts added</p>
                            {% if list.about %}
                            <p>{{ list.about|safe|truncatewords:15 }}</p>
                            {% endif %}
                            <hr>
                            <b>{{ list.follower.count|intword }}</b> Followers &bull; <b>
                            {{ list.following.count|intword}}</b> Following
                        </div>
                    </div>

                    {% if list in request.user.following.all %}
                    <a data-href="{% url 'follower-api' list.username %}" style="border-radius:13px;"
                       class="btn btn-info follow-btn text-light btn-sm float-right" id="follow-bt">Following
                    </a>
                    {% elif request.user in list.following.all %}
                    <a data-href="{% url 'follower-api' list %}"
                       class="btn btn-outline-info follow-btn btn-sm float-right">Follow back
                    </a>
                    {% else %}
                    <a data-href="{% url 'follower-api' list.username %}" style="border-radius:13px;"
                       class="btn btn-outline-info follow-btn btn-sm float-right" id="follow-btn">Follow
                    </a>
                    {% endif %}
                    <p class="account-heading ml-2 text-truncate">@{{ list|safe|truncatechars:"15" }}</p>
                    <!--                    <p class="text-secondary">{{ object.author.email }}</p>-->
                </div>
            </div>
            {% endfor %}
        </div>
        <br>
        <div class="d-md-flex mt-2 align-items-center justify-content-between text-center text-md-left">
            <ul class="list-inline font-size-sm mb-3 mb-md-0 order-md-2">
                <li class="list-inline-item my-1"><a class="text-decoration-none" href="#">Contacts</a></li>
                <li class="list-inline-item my-1"><a class="text-decoration-none" href="#">About</a>
                </li>
            </ul>
            <p class="font-size-sm mb-0 mr-2 order-md-1">
                <span class="text-decoration-none">
                © 2022-Elodimuor, Online Blog.
                </span>
                <a class="text-decoration-none font-weight-normal" href="/"
                   target="_blank" rel="noopener">Favour Elodimuor</a><br><br>
                <a href="https://www.facebook.com/favour.elodimuor/">
                    <img src="https://img.icons8.com/fluent/40/000000/facebook-new.png"/></a>
                <a href="https://www.twitter.com/felodimuor/">
                    <img src="https://img.icons8.com/color/40/000000/twitter-squared.png"/></a>
                <a href="/">
                    <img src="https://img.icons8.com/fluent/40/000000/instagram-new.png"/>
                </a><br><br>
            </p>
        </div>
    </div>
</div>

<style>
/* Dropdown Button */

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  width: 17rem;
  box-shadow: hsl(0, 0%, 80%) 0 0 16px;
  border-radius: 10px;
  padding: 8px;
  text: flex;
}

.dropdown .dropdown-menu.fade_ {
    animation-name: dropdownAnimation;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
@keyframes dropdownAnimation {
    0% {
        opacity: 0;
        transform: translateY(58px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    text: flex;
    }

</style>
{% endblock %}
