<script type="text/javascript">
/// some script

// jquery ready start
$(document).ready(function() {
	// jQuery code


	$("[data-trigger]").on("click", function(e){
        e.preventDefault();
        e.stopPropagation();
        var offcanvas_id =  $(this).attr('data-trigger');
        $(offcanvas_id).toggleClass("show");
        $('body').toggleClass("offcanvas-active");
        $(".screen-overlay").toggleClass("show");
    });

   	// Close menu when pressing ESC
    $(document).on('keydown', function(event) {
        if(event.keyCode === 27) {
           $(".mobile-offcanvas").removeClass("show");
           $("body").removeClass("overlay-active");
        }
    });

    $(".btn-close, .screen-overlay").click(function(e){
    	$(".screen-overlay").removeClass("show");
        $(".mobile-offcanvas").removeClass("show");
        $("body").removeClass("offcanvas-active");


    });


}); // jquery end










</script>

<style type="text/css">
body.offcanvas-active{
	overflow:hidden;
}
.offcanvas-header{ display:none; }
.screen-overlay {
  width:0%;
  height: 100%;
  z-index: 30;
  position: fixed;
  top: 0;
  left: 0;
  opacity:0;
  visibility:hidden;
  background-color: rgba(34, 34, 34, 0.6);
  transition:opacity .2s linear, visibility .1s, width 1s ease-in;
   }
.screen-overlay.show {
    transition:opacity .5s ease, width 0s;
    opacity:1;
    width:100%;
    visibility:visible;
}

@media all and (max-width:992px) {

	.offcanvas-header{ display:block; }

	.mobile-offcanvas{
		visibility: hidden;
		transform:translateX(-100%);
	    border-radius:0;
		display:block;
	    position: fixed;
	    top: 0; left:0;
	    height: 100%;
	    z-index: 1200;
	    width:80%;
	    overflow-y: scroll;
	    overflow-x: hidden;
	    transition: visibility .2s ease-in-out, transform .2s ease-in-out;
	}

	.mobile-offcanvas.show{
		visibility: visible;
    	transform: translateX(0);
	}
}
/* Phone */
@media only screen and (max-width: 1000px) {
.favour {
     display: flex;
    float: left;
    margin-left: 9rem;
    visibility: hidden;
}
}

@media (min-width: 48em) {
    .favour {
        float: left;
        margin-left: 200px;
        margin-top: 1px;
        margin-right: 2px;
        visibility: hidden;
    }
}

.get {
    display: flex;
}
@media (min-width: 48em) {
    .get {
    visibility: hidden;
    }
}
body {
  padding-top: 3rem;
  padding-bottom: 0rem;
  color: #5a5a5a;
  overflow-x: hidden;
}

</style>
<nav style="background-color: #f6f9fc !important;"
     class="bg-light navbar navbar-expand-lg navbar-light fixed-top mb-4">
    <div class="form-inline my-2 my-lg-0">
        <button style="float: left;" type="button" data-toggle="collapse"
                data-target="#navbarCollapse"
                data-trigger="#navbar_main" class="d-lg-none navbar-toggler collapsed"
                aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
            <style>
                .navbar-toggler-icon {
                    display: inline-block;
                    width: 1em;
                    height: 1em;
                    vertical-align: middle;
                    content: "";
                    background: no-repeat center center;
                    background-size: 100% 100%;
                }
                .navbar-toggler {
                    padding: .15rem .55rem;
                    font-size: 1.25rem;
                    line-height: 1;
                    background-color: transparent;
                    border: 1px solid transparent;
                    border-radius: .25rem;
                }



            </style>
        </button>
        <a href="" class="text-decoration-none">
            <div class="ml-2 row container shadow flex-column" style="box-shadow: 1px 1px grey;
                        background-color: #00BFFF;
                        background-image: linear-gradient(160deg, #80D0C7 10%,  #0093E9 90%);
                        border-radius: 10px;
                        width: 40px;
	                    height: 40px;
                        padding: 5px;
                        padding-bottom: 10px;
                        padding-top: 10px;">
                <svg style="color: #fff" width="30px" height="30px" viewBox="0 0 16 16" class="bi bi-cart-check-fill"
                     fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM4 14a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm7 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm.354-7.646a.5.5 0 0 0-.708-.708L8 8.293 6.854 7.146a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
                </svg>
                <h4 class="ml-2 mb-2 font-shadow" style="color: black;display: inline-block; font-family:
                    Florence;text-shadow: 1px 1px 1px grey;">Elodimuor
                </h4>
            </div>
        </a>
        <a href="" class="favour text-decoration-none d-flex align-items-center order-lg-3">
            <img src="https://img.icons8.com/cute-clipart/27/000000/wish-list.png"/> <span>

            </span>
        </a>
    </div>
    <div class="form-inline my-2 my-lg-0">
    </div>
    <nav id="navbar_main" class="mobile-offcanvas navbar navbar-expand-lg navbar-light bg-light"
         style="background-color: #f6f9fc !important;">
        <div class="offcanvas-header">
            <button class="btn btn-danger btn-sm btn-close float-right"> &times;</button>
            <div class="form-inline my-2 my-lg-0">
                {% if user.is_authenticated %}
                <a href="" class="text-decoration-none">
                    <img width="60px" height="60px" style="object-fit: cover; border-radius: 20px solid #ececec"
                         class="ml-1 border  rounded-circle account-img" alt="customer pics"
                         src="{{ user.customer_pics.url }}">
                    <small>{{user.username}}</small>
                </a>
                {% else %}
                <a href="">
                    <h4 style="display: inline-block;float: left; margin-top: 7px;
        text-shadow: 2px 1px 1px grey; font-family: Florence, cursive; color: #333; font-size:2rem;">
                        <strong>Elodimuor</strong>
                    </h4>
                </a>
                {% endif %}
            </div>
        </div>
        <hr class="my-3">
        <div class="d-lg-none">
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                <li class="nav-item active"><a class="nav-link" href="">HOME </a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'about' %}"> ABOUT US </a></li>
                <li class="nav-item"><a class="nav-link" href=""> PRICING </a></li>
                <li class="nav-item"><a class="nav-link" href=""> PROFILE </a></li>

                <li class="nav-item"><a class="nav-success btn btn-block btn-info" href="{% url 'logout' %}">
                    LOGOUT </a></li>
                {% else %}
                <li class="nav-item active"><a class="nav-link" href="">HOME </a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'about' %}"> ABOUT US </a></li>
                <li class="nav-item"><a class="nav-link" href=""> PRICING </a></li>
                <li class="nav-item"><a class="nav-link mb-2" href="{% url 'login' %}"> LOGIN </a></li>

                <li class="nav-item"><a class="nav-warning btn-block btn btn-info" href="{% url 'register' %}">
                    SIGNUP </a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <style>
        @media only screen and (max-width: 1000px) {
            .hide_nav {
                display: none;
            }
        }



    </style>
    <div class="navbar-collapse mr-auto order-lg-2 collapse hide_nav" id="navbarCollapse" style="">
        <hr class="my-3">
        <!-- Primary menu-->
        <ul class="navbar-nav">
            <ul class="navbar-nav mr-auto">
            </ul>
            <form class="form-inline ">
                <ul class="navbar-nav mr-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item active">
                        <a href="" class="nav-link">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'about' %}" class="nav-link">ABOUT</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1.4em" height="1.4em" fill="currentColor"
                                 class="bi bi-person" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M10 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                            </svg>
                            HI,
                            {% if request.user.first_name %}
                            {{ request.user.first_name|upper }}
                            {% else %}
                            {{ request.user|upper }}
                            {% endif %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-success btn btn-info mr-sm-2" style="box-shadow: 4px 6px 5px grey;"
                           href="{% url 'logout' %}">
                            LOGOUT
                        </a>
                    </li>
                    <br>
                    {% else %}
                    <li class="nav-item active">
                        <a href="{% url 'home' %}" class="nav-link">HOME</a>
                    </li>
                    <br>
                    <li class="nav-item">
                        <a href="{% url 'about' %}" class="nav-link">ABOUT</a>
                    </li>

                    <br>
                    <li class="nav-item">
                        <a class="nav-success btn btn-info" href="{% url 'register' %}"
                           style="margin-right: 10px;box-shadow: 4px 6px 5px grey;">
                            SIGNUP
                        </a>
                    </li>
                    <br>
                    <li class="nav-item">
                        <a class="nav-success btn btn-info mr-sm-2" style="box-shadow: 4px 6px 5px grey;"
                           href="{% url 'login' %}">
                            LOGIN
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </form>
        </ul>
    </div>
</nav>

