{% extends 'blog/base.html' %}
{% load humanize %}
{% load static %}
{% load subtract %}
{% load mentions %}
{% block title %} {{user_profile}} Notification | Elodimuor-Blog {% endblock %}
{% block content %}
<div class="col-lg-6">
    <div class="box-element">
        <div class="tab row mt-2">
            <div class="col-lg-4 col-4">
                <button class="tablinks" id="defaultOpen" onclick="openCity(event, 'Paris')">
                    <h5><strong>Notifications</strong></h5>
                </button>
            </div>
            <div class="col-lg-4 col-4">
                <button class="tablinks" onclick="openCity(event, 'Tokyo')">
                    <h5><strong>Post Alerts</strong></h5>
                </button>
            </div>
            <div class="col-lg-4 col-4">
                <button class="tablinks" onclick="openCity(event, 'Mentions')">
                    <h5><strong>Mentions {{combined_mentions.count}}</strong></h5>
                </button>
            </div>
        </div>
    </div>
    <br>
    <div id="Paris" class="tabcontent">
        {% for notification in notification_list %}
        {% if notification.notification_type == 1 %}
        <div class="box-element">
            <div class="media">
                <a href="{% url 'a_follower_post_view' notification.sender %}">
                    <img class="rounded-circle article-img" src="{{ notification.sender.image.url }}" alt="">
                </a>
                <div class="media-body">
                    <a href="{% url 'a_follower_post_view' notification.sender %}" class="text-dark">
                        <b>
                            {% if notification.sender.display_name %}
                            {{ notification.sender.display_name }}
                            {% else %}
                            {{ notification.sender.username }}
                            {% endif %}
                        </b>@{{notification.sender.username}}
                    </a>
                    <a href="{{ notification.blog.get_absolute_url }}" class=" text-dark">
                        liked your post
                        <p>{{ notification.date|naturaltime }}</p>
                    </a>
                </div>
            </div>
        </div>
        {% elif notification.notification_type == 2 %}
        <div class="box-element">
            <div class="media">
                <a href="{% url 'a_follower_post_view' notification.sender %}">
                    <img class="rounded-circle article-img" src="{{ notification.sender.image.url }}" alt="">
                </a>
                <div class="media-body">
                    <div class="mt-2 flex">
                        <a href="{% url 'a_follower_post_view' notification.sender %}" class=" text-dark">
                            <b>
                                {% if notification.sender.display_name %}
                                {{ notification.sender.display_name }}
                                {% else %}
                                {{ notification.sender.username }}
                                {% endif %}
                            </b>@{{notification.sender.username}}
                        </a>
                        <a href="{{ notification.blog.get_absolute_url }}#comment" class=" text-dark">
                            commented on your post:
                            <p class="text-secondary">
                                {% if notification.text_preview %}
                                {{ notification.text_preview|safe|truncatewords:10 }}
                                {% endif %}
                            </p>
                        </a>
                    </div>
                    <p>{{ notification.date|naturaltime }}</p>
                </div>
            </div>
        </div>
        {% elif notification.notification_type == 3 %}
        <div class="box-element">
            <div class="media">
                <a href="{% url 'a_follower_post_view' notification.sender %}" class=" text-dark">
                    <img class="rounded-circle article-img" src="{{ notification.sender.image.url }}" alt="">
                </a>
                <a href="{% url 'a_follower_post_view' notification.sender %}" class=" text-dark">
                    <div class="media-body">
                        <div class="mt-2 flex">
                            <b>
                                {% if notification.sender.display_name %}
                                {{ notification.sender.display_name }}
                                {% else %}
                                {{ notification.sender.username }}
                                {% endif %}
                            </b> followed you
                            <br>
                            <div style="border: 1px solid #adb5bd; border-radius: 13px; padding: 9px;" class="mt-2">

                                <div class="row">
                                    <div class="col-3">
                                        <a href="{% url 'a_follower_post_view' notification.sender %}">
                                            <img src="{{ notification.sender.image.url }}" alt="Avatar"
                                                 class="rounded-circle account-img">
                                        </a>
                                    </div>
                                    <div class="float-right col-9 g-3">
                                        {% if request.user == notification.sender %}
                                        <a class="float-right btn btn-outline-info"
                                           href="{% url 'a_follower_post_view' notification.sender %}">Edit
                                            profile
                                        </a>
                                        {% elif notification.sender in request.user.following.all %}
                                        <a data-href="{% url 'follower-api' notification.sender %}"
                                           class="btn btn-info follow-btn text-light btn-md float-right">Following
                                        </a>
                                        {% elif request.user in notification.sender.following.all %}
                                        <a data-href="{% url 'follower-api' notification.sender %}"
                                           class="btn btn-outline-info follow-btn btn-md float-right">Follow back
                                        </a>
                                        {% else %}
                                        <a data-href="{% url 'follower-api' notification.sender %}"
                                           class="btn btn-outline-info follow-btn btn-md float-right"
                                           id="follow-buttonn">Follow
                                        </a>
                                        {% endif %}
                                    </div>
                                </div>
                                <style>
                            .author_img {
                                border-radius: 10px;
                                display: block;
                                margin-left: 10px;
                                width: 50px;
                            }


                                </style>

                                <strong class="flex mt-2">
                                    {% if notification.sender.display_name %}
                                    {{ notification.sender.display_name }}
                                    {% else %}
                                    {{ notification.sender.username }}
                                    {% endif %}
                                </strong>
                                <h6>@{{ notification.sender }}</h6>
                                <!--                            <p>{{ notification.sender.post_set.count }} posts added</p>-->
                                {% if notification.sender.about %}
                                <p>{{ notification.sender.about|safe|truncatewords:15 }}</p>
                                {% endif %}
                                <!--                            <hr>-->
                                <!--                                <b>{{ list.follower.count }}</b> Followers &bull; <b>-->
                                <!--                                {{ list.following.count}}</b> Following-->
                                {% if followed_by %}
                                <div class="d-flex">
                                    {% for follower in notification.sender.follower.all %}
                                    <img src="{{ follower.image.url }}" class="rounded-circle mt-1 image___" width="30"
                                         height="30" alt=""
                                         style="">
                                    {% endfor %}
                                    <p class="mt-2 ml-1"> Followed by
                                        {% if followed_by_count >= 2 %}
                                        {% for follower in followed_by %} {{ follower }}
                                        {% endfor %} and {{ followed_by_count|intword|subtract:1 }} others
                                        {% elif followed_by_count <= 1 %}
                                        {% for follower in followed_by %} {{ follower }}
                                        {% endfor %}
                                        {% endif %}
                                    </p>
                                </div>
                                {% endif %}

                            </div>
                        </div>
                        <p>{{ notification.date|naturaltime }}</p>
                    </div>
                </a>
            </div>
        </div>
        {% elif notification.notification_type == 4 %}
        <div class="box-element">
            <div class="media">
                <a href="{% url 'a_follower_post_view' notification.sender %}">
                    <img class="rounded-circle article-img" src="{{ notification.sender.image.url }}" alt="">
                </a>
                <div class="media-body">
                    <a href="{% url 'a_follower_post_view' notification.sender %}" class=" text-dark">
                        <b>
                            {% if notification.sender.display_name %}
                            {{ notification.sender.display_name }}
                            {% else %}
                            {{ notification.sender.username }}
                            {% endif %}
                        </b>@{{notification.sender.username}}
                    </a>
                    <a href="{{ notification.blog.get_absolute_url }}" class=" text-dark">
                        reposted your post
                        <p>{{ notification.date|naturaltime }}</p>
                    </a>
                </div>

            </div>
        </div>
        {% elif notification.notification_type == 5 %}
        <div class="box-element">
            <div class="media">
                <a href="{% url 'a_follower_post_view' notification.sender %}">
                    <img class="rounded-circle article-img" src="{{ notification.sender.image.url }}" alt="">
                </a>
                <div class="media-body">
                    <a href="{% url 'a_follower_post_view' notification.sender %}" class=" text-dark">
                        <b>
                            {% if notification.sender.display_name %}
                            {{ notification.sender.display_name }}
                            {% else %}
                            {{ notification.sender.username }}
                            {% endif %}
                        </b>@{{notification.sender.username}}
                    </a>
                    <a href="{{ notification.repost_blog.get_repost_absolute_url }}" class=" text-dark">
                        liked your repost
                        <p>{{ notification.date|naturaltime }}</p>
                    </a>
                </div>
            </div>
        </div>
        {% elif notification.notification_type == 6 %}
        <div class="box-element">
            <div class="media">
                <a href="{% url 'a_follower_post_view' notification.sender %}">
                    <img class="rounded-circle article-img" src="{{ notification.sender.image.url }}" alt="">
                </a>
                <div class="media-body">
                    <a href="{% url 'a_follower_post_view' notification.sender %}" class=" text-dark">
                        <b>
                            {% if notification.sender.display_name %}
                            {{ notification.sender.display_name }}
                            {% else %}
                            {{ notification.sender.username }}
                            {% endif %}
                        </b>@{{notification.sender.username}}
                    </a>
                    <a href="{{ notification.repost_blog.get_repost_absolute_url }}" class=" text-dark">
                        commented on your repost:
                        <p class="text-secondary mt-0">
                            {% if notification.text_preview %}
                            {{ notification.text_preview|safe|truncatewords:10 }}
                            {% endif %}
                        </p>
                        <p>{{ notification.date|naturaltime }}</p>
                    </a>
                </div>
            </div>
        </div>
        {% elif notification.notification_type == 8 %}
        <div class="box-element">
            <div class="media">
                <a href="{% url 'a_follower_post_view' notification.sender %}">
                    <img class="rounded-circle article-img" src="{{ notification.sender.image.url }}" alt="">
                </a>
                <div class="media-body">
                    <a href="{% url 'a_follower_post_view' notification.sender %}" class="d-flex text-dark">
                        <b>
                            {% if notification.sender.display_name %}
                            {{ notification.sender.display_name }}
                            {% else %}
                            {{ notification.sender.username }}
                            {% endif %}
                        </b>@{{notification.sender.username}}
                    </a>
                    <a href="{{ notification.repost_blog.get_repost_absolute_url }}" class="mt-1 text-dark">
                        reposted your repost
                        <p>{{ notification.date|naturaltime }}</p>
                    </a>
                </div>
            </div>
        </div>
        {% endif %}
        <br>
        {% endfor %}
    </div>
    <div id="Tokyo" class="tabcontent">
        {% for notification in post_notification_list %}
        {% if notification.notification_type == 1 %}
        <div class="box-element">
            <div class="content-section">
                <div class="media">
                    <a class="text-dark" href="{% url 'a_follower_post_view' notification.blog.author %}">
                        <img class="rounded-circle article-img" src="{{ notification.blog.author.image.url }}" alt="">
                    </a>
                    <div class="media-body">
                        <a class="text-dark" href="{% url 'a_follower_post_view' notification.blog.author %}">
                            <strong class="account-heading dropbtn">
                                {% if notification.blog.author.display_name %}
                                {{ notification.blog.author.display_name }}
                                {% else %}
                                {{ notification.blog.author }}
                                {% endif %}
                                {% if notification.blog.author.is_verified %}
                                <img width="15px" height="15px"
                                     src="{% static 'images/verify.png' %}" alt="">
                                {% endif %}
                                &bull; {{ notification.blog.date_posted|date:"M d y" }}
                            </strong>

                            <p class="text-secondary mb-1">@{{ notification.blog.author }}</p>
                        </a>
                        <a class="text-decoration-none mb-1 text-secondary"
                           href="{{ notification.blog.get_absolute_url }}">
                            <h6>{{ notification.blog.content|safe|mentions|hashtags }}</h6>
                        </a>

                            <div class="row">
                                <div class="col-lg-4 col-4">
                                    <b>{{ notification.blog.like.count|intword }} </b>
                                    <a data-href='{{post.get_api_like_url}}' class="like-btn" data-toggle="tooltip"
                                       data-placement="top" title="Like">
                                        <img src="{% static 'images/like (2).png' %}"
                                             class="mb-2" style="cursor:pointer;" width="23" height="23" alt="">
                                    </a>
                                </div>
                                <div class="col-lg-4 col-4">
                                    <b>{{ notification.blog.blogcomment_set.count|intword }} </b>
                                    <img onclick="openForm()" data-toggle="tooltip" data-placement="top" title="Comment"
                                         src="{% static 'images/comment (2).png' %}" class="mb-" width="23" height="23"
                                         alt="">
                                </div>
                                <div class="col-lg-4 col-4">
                                    <a class="text-dark" href="{{post.get_repost_url}}">
                                        <b data-target="#postReposModal" data-toggle="modal">
                                            {{ notification.blog.blogrepost_set.count|intword }}
                                        </b>
                                        <img data-toggle="tooltip" data-placement="top" title="Repost"
                                             src="{% static 'images/retweet (1).png' %}" class="mb-1" width="23"
                                             height="23" alt="">
                                    </a>
                                </div>
                            </div>

                    </div>
                </div>
            </div>

        </div>
         {% endif %}
        <br>
        {% endfor %}
    </div>
    <div id="Mentions" class="tabcontent">
        {% for post in combined_mentions %}

        <div class="box-element mb-3" >
            <div class="content-section">
                {% if post.text %}
                <style>
                    .reposted{margin-left:4.5rem;}
                    @media only screen and (max-width: 1000px) {
                        .reposted{margin-left:4.3rem;}
                    }
                </style>

                <div class="media">
                    <a class="text-dark" href="{% url 'a_follower_post_view' post.user %}">
                        <img class="rounded-circle article-img" src="{{ post.user.image.url }}" alt="">
                    </a>
                    <div class="media-body">
                        <a class="text-dark" href="{% url 'a_follower_post_view' post.user %}">
                            <strong class="account-heading dropbtn" style="width: 50px;height:50px">
                                {% if post.user.display_name %}
                                {{ post.user.display_name }}
                                {% else %}
                                {{ post.user }}
                                {% endif %}
                                {% if post.user.is_verified %}
                                <img width="15px" height="15px"
                                     src="{% static 'images/verify.png' %}" alt="">
                                {% endif %}
                                &bull; {{ post.date_posted|date:"M d y" }}
                            </strong>
                            <p class="text-secondary mb-1">@{{ post.user }}</p>
                        </a>
                        <a href="{{post.get_repost_absolute_url}}">
                            {% if post.text %}
                            <h6>{{ post.text|safe|truncatewords:'70'|mentions|hashtags }}</h6>
                            {% endif %}
                        </a>
                        {% if post.post %}
                        <div style="border: 1px solid #adb5bd; border-radius: 13px; padding: 9px;">
                            <a class="text-dark" href="{% url 'a_follower_post_view' post.post.author %}">
                                <div class="media">
                                    <img class="rounded-circle" style="width: 30px;height:30px"
                                         src="{{ post.post.author.image.url }}" alt="">
                                    <div class="media-body ml-1">
                                        <strong class="account-heading dropbtn">
                                            {% if post.post.author.display_name %}
                                            {{ post.post.author.display_name }}
                                            {% else %}
                                            {{ post.post.author }}
                                            {% endif %}
                                            {% if post.post.author.is_verified %}
                                            <img width="15px" height="15px"
                                                 src="{% static 'images/verify.png' %}" alt="">
                                            {% endif %}
                                            &bull; {{ post.post.date_posted|date:"M d y" }}
                                        </strong>
                                    </div>
                                </div>
                            </a>
                            <a class="text-decoration-none text-secondary article-content mt-1"
                               href="{{ post.post.get_absolute_url }}">
                                <h6 class="mb-1">{{ post.post.content|mentions|safe|truncatewords:'20' }}</h6>
                            </a>
                        </div>
                        {% elif post.repost %}
                        <div style="border: 1px solid #adb5bd; border-radius: 13px; padding: 9px;">
                            <a class="text-dark" href="{% url 'a_follower_post_view' post.repost.user %}">
                                <div class="media">
                                    <img class="rounded-circle" style="width: 30px;height:30px"
                                         src="{{ post.repost.user.image.url }}" alt="">
                                    <div class="media-body ml-1">
                                        <strong class="account-heading dropbtn">
                                            {% if post.repost.user.display_name %}
                                            {{ post.repost.user.display_name }}
                                            {% else %}
                                            {{ post.repost.user }}
                                            {% endif %}

                                            {% if post.repost.user.is_verified %}
                                            <img width="15px" height="15px"
                                                 src="{% static 'images/verify.png' %}" alt="">
                                            {% endif %}
                                            &bull; {{ post.repost.date_posted|date:"M d y" }}
                                        </strong>
                                    </div>
                                </div>
                            </a>
                            <a class="text-decoration-none text-secondary article-content mt-1"
                               href="{{ post.repost.get_repost_absolute_url }}">
                                <h6 class="mb-1">{{ post.repost.text|mentions|hashtags|safe|truncatewords:'20' }}</h6>
                            </a>
                        </div>
                        {% else %}
                        <div class="text-dark"
                             style="border: 1px solid #adb5bd; border-radius: 13px; padding: 9px; background: #dee2e6;">
                            Author of this post deleted this post. It can't be seen.
                        </div>
                        {% endif %}
                        <div class="mt-1">
                            <div class="row">
                                <div class="col-lg-4 col-4">
                                    <b>{{ post.like.count|intword }} </b>
                                    <img src="{% static 'images/like (2).png' %}" data-toggle="tooltip" data-placement="top"
                                     title="Like"
                                     class="mb-1" style="cursor:pointer;" width="23" height="23" alt="">
                                </div>
                                <div class="col-lg-4 col-4">
                                    <b>{{ post.repostcomment_set.count|intword }} </b>
                                    <img data-toggle="tooltip" data-placement="top" title="Comment"
                                     src="{% static 'images/comment (2).png' %}" class="mb-" width="23" height="23" alt="">
                                </div>
                                <div class="col-lg-4 col-4">
                                    <a class="text-dark" href="{{post.get_repost_url_}}">
                                        <b data-target="#postReposModal" data-toggle="modal">
                                            {{ post.blogrepost_set.count|intword }}
                                        </b>
                                        <img data-toggle="tooltip" data-placement="top" title="Repost"
                                             src="{% static 'images/retweet (1).png' %}" class="mb-" width="23" height="23" alt="">
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                {% elif not post.text %}

                <div class="media">
                    {% if post.author %}
                    <a href="{% url 'a_follower_post_view' post.author %}">
                        <img class="rounded-circle article-img" src="{{ post.author.image.url }}" alt="">
                    </a>
                    {% elif post.repost %}
                    <a href="{% url 'a_follower_post_view' post.repost.user %}">
                        <img class="rounded-circle article-img" src="{{ post.repost.user.image.url }}" alt="">
                    </a>
                    {% elif post.post %}
                    <a href="{% url 'a_follower_post_view' post.post.author %}">
                        <img class="rounded-circle article-img" src="{{ post.post.author.image.url }}" alt="">
                    </a>
                    {% endif %}
                    <div class="media-body">
                        {% if post.author %}
                        <a class="text-dark" href="{% url 'a_follower_post_view' post.author %}">
                            <strong class="account-heading dropbtn">
                                {% if post.author.display_name %}
                                {{ post.author.display_name }}
                                {% else %}
                                {{ post.author }}
                                {% endif %}

                                {% if post.author.is_verified %}
                                <img width="15px" height="15px"
                                     src="{% static 'images/verify.png' %}" alt="">
                                {% endif %}
                                &bull; {{ post.date_posted|date:"M d y" }}
                            </strong>
                        </a>
                        {% elif post.repost.user %}
                        <a class="text-dark" href="{% url 'a_follower_post_view' post.repost.user %}">
                            <strong class="account-heading dropbtn">
                                {% if post.repost.user.display_name %}
                                {{ post.repost.user.display_name }}
                                {% else %}
                                {{ post.repost.user }}
                                {% endif %}
                                {% if post.repost.user.is_verified %}
                                <img width="15px" height="15px"
                                     src="{% static 'images/verify.png' %}" alt="">
                                {% endif %}
                                &bull; {{ post.date_posted|date:"M d y" }}
                            </strong>
                        </a>
                        {% elif post.post %}
                        <a class="text-dark" href="{% url 'a_follower_post_view' post.post.author %}">
                            <strong class="account-heading dropbtn">
                                {% if post.post.author.display_name %}
                                {{ post.post.author.display_name }}
                                {% else %}
                                {{ post.post.author }}
                                {% endif %}
                                {% if post.post.author.is_verified %}
                                <img width="15px" height="15px"
                                     src="{% static 'images/verify.png' %}" alt="">
                                {% endif %}
                                &bull; {{ post.post.date_posted|date:"M d y" }}
                            </strong>
                        </a>
                        {% endif %}

                        {% if post.author %}
                        <p class="text-secondary mb-1">@{{ post.author }}</p>
                        {% elif post.repost.user %}
                        <p class="text-secondary mb-1">@{{ post.repost.user }}</p>
                        {% elif post.post %}
                        <p class="text-secondary mb-1">@{{ post.post.author }}</p>
                        {% endif %}
                        {% if post.author %}
                        <style>
                            .text-code{
                                max-width: 100%;
                                display: flex;
                                flex-wrap: nowrap;
                                -ms-overflow-style: flex;
                                scrollbar-width: flex;
                                overflow-x: auto;
                                scroll-behaviour: smooth;
                            }
                            .text-code::-webkit-scrollbar{display: flex;}
                        </style>
                        <a class="text-decoration-none text-dark text-code " href="{{ post.get_absolute_url }}"
                           style="overflow-x: auto">
                            <h6 class="mb-1">{{ post.content|safe|mentions|hashtags }}</h6>
                            <div class="row p-2 br-2">
                                {% for image in post.blogimages_set.all %}
                                <div class="col-6 p-1">
                                    <img width="100%" height="100%" src="{{image.image.url}}" alt="">
                                </div>
                                {% endfor %}
                            </div>
                        </a>
                        {% elif post.repost %}
                        <a class="text-decoration-none article-content text-dark" href="{{ post.repost.get_repost_absolute_url }}">
                            <h6>{{ post.repost.text|safe|mentions|hashtags }}</h6>
                            <div class="row p-2 br-2">
                                {% for image in post.blogimages_set.all %}
                                <div class="col-6 p-1">
                                    <img width="100%" height="100%" src="{{image.image.url}}" alt="">
                                </div>
                                {% endfor %}
                            </div>
                        </a>
                        {% elif post.post %}
                        <a class="text-decoration-none article-content text-dark" href="{{ post.post.get_absolute_url }}">
                            <h6>{{ post.post.content|safe|mentions|hashtags }}</h6>
                        </a>
                        {% endif %}

                        {% if post.author %}
                        <div id="like_result">
                            <div class="row">
                                <div class="col-lg-4 col-4">
                                    <b>{{ post.like.count|intword }} </b>
                                    <a data-href='{{post.get_api_like_url}}' class="like-btn" data-toggle="tooltip"
                                       data-placement="top" title="Like">
                                        <img src="{% static 'images/like (2).png' %}"
                                             class="mb-2" style="cursor:pointer;" width="23" height="23" alt="">
                                    </a>
                                </div>
                                <div class="col-lg-4 col-4">
                                    <b>{{ post.blogcomment_set.count|intword }} </b>
                                    <img onclick="openForm()" data-toggle="tooltip" data-placement="top" title="Comment"
                                    src="{% static 'images/comment (2).png' %}" class="mb-" width="23" height="23" alt="">
                                </div>
                                <div class="col-lg-4 col-4">
                                    <a class="text-dark" href="{{post.get_repost_url}}">
                                        <b data-target="#postReposModal" data-toggle="modal">
                                            {{ post.blogrepost_set.count|intword }}
                                        </b>
                                        <img data-toggle="tooltip" data-placement="top" title="Repost"
                                             src="{% static 'images/retweet (1).png' %}" class="mb-1" width="23" height="23" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% elif post.repost %}
                        <div class="row">
                            <div class="col-lg-4 col-4">
                                <b>{{ post.repost.like.count|intword }} </b>
                                <a data-href='{{postv.get_api_like_url}}' class="like-btn" data-toggle="tooltip"
                                   data-placement="top" title="Like">
                                    <img src="{% static 'images/like (2).png' %}"
                                         class="mb-2" style="cursor:pointer;" width="23" height="23" alt="">
                                </a>
                            </div>
                            <div class="col-lg-4 col-4">
                                <b>{{ post.repost.repostcomment_set.count|intword }} </b>
                                <img onclick="openForm()" data-toggle="tooltip" data-placement="top" title="Comment"
                                src="{% static 'images/comment (2).png' %}" class="mb-" width="23" height="23" alt="">
                            </div>
                            <div class="col-lg-4 col-4">
                                <a class="text-dark" href="{{post.repost.get_repost_url_}}">
                                    <b data-target="#postReposModal" data-toggle="modal">
                                        {{ post.repost.blogrepost_set.count|intword }}
                                    </b>
                                    <img data-toggle="tooltip" data-placement="top" title="Repost"
                                         src="{% static 'images/retweet (1).png' %}" class="mb-1" width="23" height="23" alt="">
                                </a>
                            </div>
                        </div>
                        {% elif post.post %}
                        <div class="row">
                            <div class="col-lg-4 col-4">
                                <b>{{ post.post.like.count|intword }} </b>
                                <img data-toggle="tooltip" data-placement="top" title="Like" src="{% static 'images/like (2).png' %}"
                                    class="mb-2" style="cursor:pointer;" width="23" height="23" alt="">
                            </div>
                            <div class="col-lg-4 col-4">
                                <b>{{ post.post.blogcomment_set.count|intword }} </b>
                                <img src="{% static 'images/comment (2).png' %}"
                                     data-toggle="tooltip" data-placement="top" title="Comment"
                                     class="mb-" width="23" height="23" alt="">
                            </div>
                            <div class="col-lg-4 col-4">
                                <a class="text-dark" href="{{post.post.get_repost_url}}">
                                    <b data-target="#postReposModal" data-toggle="modal">
                                        {{ post.post.blogrepost_set.count|intword }}
                                    </b>
                                    <img data-toggle="tooltip" data-placement="top" title="Repost"
                                         src="{% static 'images/retweet (1).png' %}" class="mb-1" width="23" height="23" alt="">
                                </a>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
        {% endfor %}
    </div>
</div>
<style>

/* Style the tab */
.tab {
  overflow: auto;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 6px 10px;
  transition: .3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-colo: #007bff !important;
  color: #17a2b8 !important;
  border-bottom: 3px solid #17a2b8;
}

/* Style the tab content */
.tabcontent {
  display: none;
  border-top: none;
}


</style>

<script>
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}


</script>
<script>
// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();

</script>
<div class="col-lg-3">
    <div class="box-element">
        <form action="{% url 'search' %}" autocomplete="off" method="GET" value="{{request.GET.q}}">
            <input type="text" name="q" value="{{request.GET.q}}" class="form-control"
                   placeholder="Search posts"/>
            <div class="autocomplete" style="width:300px; display:none;">
                <input type="submit" name="submit" value="Search"/>
            </div>
        </form>
    </div>
    <br>
    {% if suggested_followers|length > 0 %}
    <div class="sticky-top" style="top: 90px">
        <div class="box-element">
            <h4 class="mb-3"><strong>You might like</strong></h4>
            {% for list in suggested_followers %}
            <div class="media mt-2">
                <a href="{% url 'a_follower_post_view' list %}">
                    <img class="rounded-circle" style="width:50px;height:50px" src="{{ list.image.url }}"
                         alt="">
                </a>
                <div class="media-body mt-">
                    <a href="{% url 'a_follower_post_view' list %}" class="text-decoration-none text-dark">
                        <strong class="account-heading ml-2">{{ list.username }}</strong>
                    </a>
                    {% if request.user.is_authenticated %}
                    {% if list in request.user.following.all %}
                    <a data-href="{% url 'follower-api' list.username %}" style="border-radius:13px;"
                       class="btn btn-primary follow-btn text-light btn-sm float-right" id="follow-bt">Following
                    </a>
                    {% else %}
                    <a data-href="{% url 'follower-api' list.username %}" style="border-radius:13px;"
                       class="btn btn-outline-primary follow-btn btn-sm float-right" id="follow-btn">Follow
                    </a>
                    {% endif %}
                    {% else %}
                    <a href="{% url 'login' %}" style="border-radius:13px;"
                       class="btn btn-outline-primary  btn-sm float-right">follow
                    </a>
                    {% endif %}
                    <p class="account-heading ml-2 text-truncate">{{ list.email|safe }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}